img{
    max-width: 600px;
}
#ej3{
    height: 150px;
    background-color: #afafaf;
    overflow: scroll;
}

#ej11{
    margin: auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}